*{
    font-family: 'Roboto', sans-serif;
}


.container{
    background-color: lightblue;
}
#title-of-blog{
    color: red;
    text-align: center;    
}
.heading-small{
    color: rgb(105, 51, 141);
    font-style: italic;
}
.blabla{
    color: rgb(75, 116, 8);
}